header{
    border-bottom:1px solid rgba(88, 88, 88, 0.5);
}

.hamburger{
    width:30px;
    margin-top:5px;
    border:1px solid black;
}

.img-logo{
    cursor:pointer;
}

.logo{
    display:flex;
}
nav{
    position:sticky;
    display:flex;
    justify-content: space-between;
}

.hamburger-menu{
    align-self: center;
    cursor: pointer;
    
}

.hamburger-content{
   position: fixed;
    right:10px;
    top:70px;
    border:1px black solid;
    border-radius: 10px;;
    padding:3px;
    
}